 
.venv/
venv/
env/
bin/
lib/
share/
include/
pyvenv.cfg
pip-selfcheck.json
 
*.csv
*.xlsx
*.parquet
 
 
.julia/
Manifest.toml
 
gurobi.log
*.lic
*.log

 
.vscode/
.idea/
.DS_Store
Thumbs.db
 
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/